@media screen {

.about-container {
    height: 100vh;
    display: flex;
    row-gap: 30px;
    padding: 70px 10px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about-info , .social {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.about-info h1 , .social h1 {
    text-transform: capitalize;
    font-size: 1rem;
}

.social-wrapper {
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.social-links {
    row-gap:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    
}

.social-links span {
    font-size: .7rem;
}

.social-links:hover span {
    display: block;
    color: var(--sy-color);
}

.social-link {
    width: 28px;
    height: 28px;
}

.social-links:hover .social-link {
    display: block;
    color: var(--sy-color);
}

    
}

@media only screen and (min-width:49.0em) {

.about-info h1 , .social h1 {
    font-size: 1.4rem;
}


.social-links span {
    font-size: 1rem;
}

.social-links:hover span {
    display: block;
    color: var(--sy-color);
}

.social-link {
    width: 32px;
    height: 32px;
}

.social-links:hover .social-link {
    display: block;
    color: var(--sy-color);
}

}
